	<!-- Bootstrap framework -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" />
	<!-- gebo blue theme-->
	<link rel="stylesheet" href="css/blue.css" id="link_theme" />
	<!-- breadcrumbs-->
	<link rel="stylesheet" href="lib/jBreadcrumbs/css/BreadCrumb.css" />
	<!-- tooltips-->
	<link rel="stylesheet" href="lib/qtip2/jquery.qtip.min.css" />
	<!-- notifications -->
	<link rel="stylesheet" href="lib/sticky/sticky.css" />
	<!-- splashy icons -->
	<link rel="stylesheet" href="img/splashy/splashy.css" />
	<!-- colorbox -->
	<link rel="stylesheet" href="lib/colorbox/colorbox.css" />
	<!-- flags -->
	<link rel="stylesheet" href="img/flags/flags.css" />
	<!-- code prettify -->
	<link rel="stylesheet" href="lib/google-code-prettify/prettify.css" />    
        <!-- datepicker -->
        <link rel="stylesheet" href="lib/datepicker/datepicker.css" />
	<!-- calendar -->
	<link rel="stylesheet" href="lib/fullcalendar/fullcalendar_gebo.css" />

        <link rel="stylesheet" href="lib/jquery-ui/css/Aristo/Aristo.css" />









	<!-- main styles -->
	<link rel="stylesheet" href="css/style.css" />
		
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />