<div id="reversionDiv">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>Article Reversion</h3>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
</div>