/* ---- Gebo Admin eastern blue theme ---- */

    .navbar-inner {
        background: #37b0c9;
		background: -moz-linear-gradient(top, #37b0c9 0%, #1294af 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37b0c9), color-stop(100%,#1294af));
		background: -webkit-linear-gradient(top, #37b0c9 0%,#1294af 100%);
		background: -o-linear-gradient(top, #37b0c9 0%,#1294af 100%);
		background: -ms-linear-gradient(top, #37b0c9 0%,#1294af 100%);
		background: linear-gradient(top, #37b0c9 0%,#1294af 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b0c9', endColorstr='#1294af',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #c7f0f9;
    }
    .navbar .nav > li:hover > a {
        color:#fff;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #0f7a90 !important;
    }
    .navbar .divider-vertical {
		border-left-color:#0f7a90;
        border-right-color:#15aece;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #1294af !important;
    }
	.ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
        background: #1294af !important;
        border-color:#1294af !important;
    }

	.table thead th {background-color:#eaf5f8 /*!important*/}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d1e9f0 !important}