/* ---- Gebo Admin green theme ---- */

    .navbar-inner {
        background: #83994c;
		background: -moz-linear-gradient(top, #83994c 0%, #627530 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83994c), color-stop(100%,#627530));
		background: -webkit-linear-gradient(top, #83994c 0%,#627530 100%);
		background: -o-linear-gradient(top, #83994c 0%,#627530 100%);
		background: -ms-linear-gradient(top, #83994c 0%,#627530 100%);
		background: linear-gradient(top, #83994c 0%,#627530 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83994c', endColorstr='#627530',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #dae5bf;
    }
    .navbar .nav > li:hover > a {
        color:#fff;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #58692b !important;
    }
    .navbar .divider-vertical {
		border-left-color:#627530;
        border-right-color:#80993f;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #6c8135 !important;
    }
    .ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
        background: #6c8135 !important;
        border-color:#6c8135 !important;
    }
	
	.table thead th {background-color:#eff7ec /*!important*/}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#dbedd4 !important}