/* ---- Gebo Admin tamarillo theme ---- */

    .navbar-inner {
		background: #f5bdcd;
		background: -moz-linear-gradient(top,  #f5bdcd 0%, #d9819b 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5bdcd), color-stop(100%,#d9819b));
		background: -webkit-linear-gradient(top,  #f5bdcd 0%,#d9819b 100%);
		background: -o-linear-gradient(top,  #f5bdcd 0%,#d9819b 100%);
		background: -ms-linear-gradient(top,  #f5bdcd 0%,#d9819b 100%);
		background: linear-gradient(to bottom,  #f5bdcd 0%,#d9819b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5bdcd', endColorstr='#d9819b',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #000;
    }
    .navbar .nav > li:hover > a {
        color:#000;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #f5bdcd !important;
    }
    .navbar .divider-vertical {
		border-left-color:#791e25;
        border-right-color:#bd2f3a;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #f5bdcd !important;
    }
	.ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
        background: #f5bdcd !important;
        border-color:#f5bdcd !important;
    }

	.table thead th {background-color:#f6eeef /*!important*/}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#ead8da !important}