.fc{direction:ltr;text-align:left}
.fc table{border-collapse:collapse;border-spacing:0}
html .fc,.fc table{font-size:1em}
.fc td,.fc th{vertical-align:top;padding:0}
.fc-header td{white-space:nowrap}
.fc-header-left{width:25%;text-align:left}
.fc-header-right{width:25%;text-align:right}
.fc-header-title{display:inline-block;vertical-align:middle}
.fc-header-title h2{margin-top:0;white-space:nowrap}
.fc .fc-header-space{padding-left:10px}
.fc-header .fc-button{margin-bottom:1em;vertical-align:top;margin-right:-1px}
.fc-header .ui-corner-right{margin-right:0}
.fc-header .fc-state-hover,.fc-header .ui-state-hover{z-index:2}
.fc-header .fc-state-down{z-index:3}
.fc-header .fc-state-active,.fc-header .ui-state-active{z-index:4}
.fc-content{clear:both}
.fc-view{width:100%;overflow:hidden}

.fc-widget-header,/* <th>,usually */
.fc-widget-content{border:1px solid #e5e5e5; background:#f6f6f6; }

.fc-state-highlight{/*background:#fffad7*/ background:#fcfc9e;}


.fc-cell-overlay{background:#9cf;opacity:.2;filter:alpha(opacity=20)}
.fc-state-disabled{cursor:default}
.fc-state-disabled .fc-button-effect{display:none}
.fc-event{font-size:.85em;cursor:default;border-style:solid;border-width:0}
a.fc-event,.fc-event-draggable{cursor:pointer}
a.fc-event{text-decoration:none}
.fc-rtl .fc-event{text-align:right}
.fc-event-skin{background-color:#36c;color:#1c546d;border-color:#36c}
.fc-event-inner{position:relative;width:100%;height:100%;overflow:hidden;border-style:solid;border-width:0}
.fc-event-time,.fc-event-title{padding:0 1px}
.fc .ui-resizable-handle{display:block;position:absolute;z-index:99999;overflow:hidden;font-size:300%;line-height:50%}
.fc-event-hori{margin-bottom:1px;border-width:1px 0}
.fc-event-hori .ui-resizable-e{top:0!important;right:-3px!important;width:7px!important;height:100%!important;cursor:e-resize}
.fc-event-hori .ui-resizable-w{top:0!important;left:-3px!important;width:7px!important;height:100%!important;cursor:w-resize}
.fc-event-hori .ui-resizable-handle{_padding-bottom:14px}
.fc-corner-left{margin-left:1px}
.fc-corner-left .fc-button-inner,.fc-corner-left .fc-event-inner{margin-left:-1px}
.fc-corner-right .fc-button-inner,.fc-corner-right .fc-event-inner{margin-right:-1px}
.fc-corner-top{margin-top:1px}
.fc-corner-top .fc-event-inner{margin-top:-1px;border-top-width:1px}
.fc-corner-bottom{margin-bottom:1px}
.fc-corner-bottom .fc-event-inner{margin-bottom:-1px;border-bottom-width:1px}
.fc-corner-left .fc-event-inner{border-left-width:1px}
.fc-border-separate th,.fc-border-separate td{border-width:1px 0 0 1px}
.fc-border-separate tr.fc-last th,.fc-border-separate tr.fc-last td{border-bottom-width:1px}
.fc-grid .fc-day-number{float:left;padding:0 2px}
.fc-grid .fc-other-month .fc-day-number{opacity:0.4;filter:alpha(opacity=40)}
.fc-grid .fc-day-content{clear:both;padding:2px 2px 1px}
.fc-grid .fc-event-time{font-weight:700}
.fc-rtl .fc-grid .fc-day-number{float:left}
.fc-rtl .fc-grid .fc-event-time{float:right}
.fc-agenda .fc-agenda-axis{width:50px;vertical-align:middle;text-align:right;white-space:nowrap;font-weight:400;padding:0 4px}
.fc-agenda .fc-day-content{padding:2px 2px 1px}
.fc-agenda-days .fc-col0{border-left-width:0}
.fc-agenda-allday .fc-day-content{min-height:34px;_height:34px}
.fc-agenda-divider-inner{height:2px;overflow:hidden}
.fc-widget-header .fc-agenda-divider-inner{background:#eee}
.fc-agenda-slots th{border-width:1px 1px 0}
.fc-agenda-slots td{background:none;border-width:1px 0 0}
.fc-agenda-slots td div{height:20px}
.fc-agenda-slots tr.fc-minor th,.fc-agenda-slots tr.fc-minor td{border-top-style:dotted}
.fc-agenda-slots tr.fc-minor th.ui-widget-header{border-top-style:solid}
.fc-event-vert .fc-event-head,.fc-event-vert .fc-event-content{position:relative;z-index:2;width:100%;overflow:hidden}
.fc-event-vert .fc-event-time{white-space:nowrap;font-size:10px}
.fc-event-vert .fc-event-bg{position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;background:#fff;opacity:.3;filter:alpha(opacity=30)}
.fc .ui-draggable-dragging .fc-event-bg,/* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg{display:none\9}
.fc-event-vert .ui-resizable-s{bottom:0!important;width:100%!important;height:8px!important;overflow:hidden!important;line-height:8px!important;font-size:11px!important;font-family:monospace;text-align:center;cursor:s-resize}
.fc-agenda .ui-resizable-resizing{_overflow:hidden}
.fc-header-center,.fc-grid th,.fc-agenda-days th{text-align:center}
.fc-header .fc-corner-right,.fc-corner-right{margin-right:1px}
.fc-corner-right .fc-event-inner,.fc-border-separate th.fc-last,.fc-border-separate td.fc-last,.fc-agenda-days .fc-agenda-axis{border-right-width:1px}
table.fc-border-separate,.fc-agenda table{border-collapse:separate}
.fc-border-separate tbody tr.fc-first td,.fc-border-separate tbody tr.fc-first th,.fc-agenda-slots tr.fc-slot0 th,.fc-agenda-slots tr.fc-slot0 td{border-top-width:0}
.fc-agenda-allday th,.fc-event-vert{border-width:0 1px}


.fc thead {background: #f9f9f9;
background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
background: linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
}
.fc tbody {background:#fff}
.fc thead th {background: none;padding:10px 0;font-size:14px;border-color:#e5e5e5 #e5e5e5 #dadada}
.fc-header {position:relative}
.fc-header-left {width:100%;float:none;height:38px;overflow:hidden}
.fc-header-center {position:absolute;width:80%;text-align:center;left:10%;top:0}
.fc-header-title h2{font-size:18px;color:#222;font-family: 'PT Sans', sans-serif;font-weight:400}
.fc-header-right {position:absolute;width:auto;top:-48px;right:10px}
.fc-header-right > .fc-btn {float:left;padding-right:12px;padding-left:12px;margin-right:2px;line-height:26px;color:#0088CC;display:block;border:1px solid transparent}
.fc-header-right .fc-state-hover {background: #eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.fc-header-right .fc-state-active {position:relative;top:-2px;line-height:30px;color:#555;background-color:#fff !important;border:1px solid #ddd;border-bottom-color:transparent;cursor:default;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.fc-btn {cursor:pointer}
.cal_prev {float:left;margin:11px 0 0 8px !important}
.cal_next {float:right;margin:11px 8px 0 0 !important}
.cal_prev,.cal_next {opacity:0.7}
.cal_prev:hover,.cal_next:hover {opacity:1}
.fc-state-hover .table_prev {background-position:0 -26px}
.fc-state-hover .table_next {background-position:right -26px}
.fc-day-number {font-size:11px; /*color:#777*/ color:#616262;}
.fc-event-title,.fc-event-time {padding-left:3px}
.fc-button-today {vertical-align:middle;font-size:11px;margin-left:15px;color: #0088cc;display:inline-block}
.fc-button-today.fc-state-disabled {color:#999;cursor:default}
.fc-sat { background:#f0e7f2;}
.fc-sun { background:#fad9d9; }
.fc-button-fourday{width:45px;}
th.fc-widget-header{color:#222222;}
td[class*="fc-sun"] div > div.fc-day-number{color:#ef8c8c;}
td[class*="fc-sat"] div > div.fc-day-number{color:#b99dc2;}
