.modal {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 8px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -320px 0 0 -450px;
    overflow: auto;
    position: fixed;
    top: 50%;
    width: 600px;
    z-index: 1050;
}

.modal-body {
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
}