.vcard .thumbnail {
    float: left;
}
.thumbnail {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
	width: 100px;
}

.modal-body {
    min-height: 430px;
	max-height: 430px;
    overflow-y: auto;
}