.public_group_list {
    list-style: none outside none;
    margin: 0;
}

.public_group_list li {
    border-bottom: 1px dashed #DCDCDC;
    line-height: normal;
    margin-bottom: 8px;
    padding: 0 8px 8px;
}

.public_group_list small {
    color: #9B9B9B;
    font-size: 11px;
}


.select_group_list {
    list-style: none outside none;
    margin: 0;
}

.select_group_list li {
    border-bottom: 1px dashed #DCDCDC;
    line-height: normal;
    margin-bottom: 8px;
    padding: 0 8px 8px;
}

.select_group_list small {
    color: #9B9B9B;
    font-size: 11px;
}



.private_group_list {
    list-style: none outside none;
    margin: 0;
}

.private_group_list li {
    border-bottom: 1px dashed #DCDCDC;
    line-height: normal;
    margin-bottom: 8px;
    padding: 0 8px 8px;
}

.private_group_list small {
    color: #9B9B9B;
    font-size: 11px;
}

.modal {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 8px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -300px 0 0 -507px;
    overflow: auto;
    position: fixed;
    top: 50%;
    width: 1000px;
    z-index: 1050;
}

.modal-header {
    border-bottom: 1px solid #EEEEEE;
    padding: 2px 15px;
}

.modal-body {
    min-height: 500px;
    max-height: 500px;
    overflow-y: hidden;
    padding:2px 5px;
}

.modal-footer {
    padding: 2px 15px;
}

.line_sep {
    border-bottom: 1px solid #DCDCDC;
    height: 25px;
    margin-bottom: 18px;
    padding-bottom: 5px;
}


.user_list li {
    border-bottom: 0px dashed #DCDCDC;
    line-height: normal;
    margin-bottom: 8px;
    padding: 0px;
}

.user_list small {
    color: #9B9B9B;
    font-size: 11px;
    padding-left: 5px;
}

.user_list li.group_organization{
    border-top: 1px dashed #DCDCDC;
    line-height: normal;
	padding-top: 20px;
}

.antiScroll2, .antiscroll-inner2 {
    width: 390px;
	height: 420px;
}

.antiscroll-inner2 {
    overflow-y: auto;
}