<!-- File:view/Uploads/index.ctp -->
<form action="<?php echo $this->Html->url(array("controller" => "uploads", "action" => "upload")); ?>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="user_id" value="77">
    <input type="hidden" name="system_id" value="2">
    <input type="hidden" name="system_name" value="esubmission">
    <input type="hidden" name="path" value="documents">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file">
    <br>
    <input type="submit" name="submit" value="Submit">
</form>