<!-- File:view/Uploads/show.ctp -->
<!--<ul>
    <li><a href="<?php echo $this->FileStorageHelper->urlByKey('CA713A5D-5CAE-4365-A7E2-4A8E86800FFF'); ?>">image link</a></li>
    <br>
    <li><a href="<?php echo $this->FileStorageHelper->urlByKey('C6D91BD2-EBEF-47FB-9223-820C9392D33E'); ?>">file link</a></li>
    <br>
    <li>Show image with &lt;img&gt; tag</li>
    <img src="<?php echo $this->FileStorageHelper->urlByKey('CA713A5D-5CAE-4365-A7E2-4A8E86800FFF'); ?>" width="800" height="400">
</ul>-->

<ul>
    <li><a href="<?php echo $this->FileStorageHelper->urlByKey('fcc9a55c-480a-549e-9b2d-159ac18f7394'); ?>">image link</a></li>
    <br>
    <li><a href="<?php echo $this->FileStorageHelper->urlByKey('1ebc425f-1e53-5521-292b-223a136868e8'); ?>">file link</a></li>
    <br>
    <li>Show image with &lt;img&gt; tag</li>
    <img src="<?php echo $this->FileStorageHelper->urlByKey('fcc9a55c-480a-549e-9b2d-159ac18f7394'); ?>" width="800" height="400">
</ul>