
		<div class="alert">
			<a class="close" data-dismiss="alert">×</a>
			<strong>Lorem ipsum!</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae tristique erat.
		</div>
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
			<strong>Lorem ipsum!</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae tristique erat.
		</div>
		<div class="alert alert-success">
			<a class="close" data-dismiss="alert">×</a>
			<strong>Lorem ipsum!</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae tristique erat.
		</div>
		<div class="alert alert-info">
			<a class="close" data-dismiss="alert">×</a>
			<strong>Lorem ipsum!</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae tristique erat.
		</div>
