		    <nav>
                        <div id="jCrumbs" class="breadCrumb module">
                            <ul>
                                <li>
                                    <a href="<?php echo $this->Portal->makeUrl('Contents','index') ?>"><i class="icon-home ttip_b" title='<?=__('Main')?>' alt="<?=__('Main')?>"></i></a>
                                </li>
				<?php
                                if (!empty($breadCrumbs))
                                foreach ($breadCrumbs as $breadCrumb) { 
                                ?>
                                <li>
                                    <?php //echo empty($breadCrumb['link']) ? $breadCrumb['label'] : '<a href="'.$breadCrumb['link'].'">'.$breadCrumb['label'].'</a>';?>
                                    <?php 
                                    if (empty($breadCrumb['link'])) {
                                        echo $breadCrumb['label'];
                                    } else {
                                        if (empty($breadCrumb['link']['param'])) {
                                            //echo '<a href="'.$this->Portal->makeUrl($breadCrumb['link']['controller'], $breadCrumb['link']['action'], 'category_id='.$breadCrumb['link']['query']).'">'.$breadCrumb['label'].'</a>';
					    echo '<a href="'.$this->Portal->makeUrl($breadCrumb['link']['controller'], $breadCrumb['link']['action'], $breadCrumb['link']['query']).'">'.$breadCrumb['label'].'</a>';
                                        } else {
                                            //echo '<a href="'.$this->Portal->makeUrl($breadCrumb['link']['controller'], $breadCrumb['link']['action'], 'category_id='.$breadCrumb['link']['query'], $breadCrumb['link']['param']).'">'.$breadCrumb['label'].'</a>';
					    echo '<a href="'.$this->Portal->makeUrl($breadCrumb['link']['controller'], $breadCrumb['link']['action'], $breadCrumb['link']['query'], $breadCrumb['link']['param']).'">'.$breadCrumb['label'].'</a>';
                                        }
                                    }
                                    ?>
                                </li>
				<?php }?>
                            </ul>
                        </div>
                    </nav>
<script>
    gebo_tips.init();
</script>