					<div class="row-fluid">
						<div class="span12">
							<div class="mbox">
								<div class="tabbable">
									<div class="heading">
										<ul class="nav nav-tabs">
											<li><a href="#mbox_new" data-toggle="tab"><i class="splashy-document_letter_edit"></i> New message</a></li>
											<li class="active"><a href="#mbox_inbox" data-toggle="tab"><i class="splashy-mail_light_down"></i>  Inbox</a></li>
											<li><a href="#mbox_outbox" data-toggle="tab"><i class="splashy-mail_light_up"></i> Outbox</a></li>
											<li><a href="#mbox_trash" data-toggle="tab"><i class="icon-adt_trash"></i> Trash</a></li>
										</ul>
									</div>
									<div class="tab-content">
										<div class="tab-pane" id="mbox_new">
											<form id="new_message_form">
												<div class="sepH_b">
													<label for="mail_sender">Sender</label>
													<select name="mail_sender" id="mail_sender">
														<option>no-replay@example.com</option>
														<option>johnySmith@example.com</option>
													</select>
												</div>
												<div class="sepH_b">
													<label>Recipient</label>
													<ul id="mail_recipients"></ul>
												</div>
												<div class="sepH_b">
													<label for="mail_subject">Subject</label>
													<input type="text" class="span12" id="mail_subject" name="mail_subject">
												</div>
												<div class="sepH_c">
													<label>Attachments</label>
													<a class="add_files" href="#">Add files</a>
													<div class="mail_uploader">
														<div class="gebo-upload" id="mail_attachments">
															<p>You browser doesn't have Flash, Silverlight or HTML5 support.</p>
														</div>
														<span class="help-block">This files will be uploaded on form submit.</span>
													</div>
												</div>
												<div class="formSep">
													<label for="mail_message">Subject</label>
													<textarea class="span12 auto_expand" rows="12" cols="10" id="mail_message" name="mail_message"></textarea>
												</div>
												
												<div>
													<button class="btn btn-gebo" type="submit">Send message</button>
												</div>
											</form>
										</div>
										<div class="tab-pane active" id="mbox_inbox">
											<table data-msg_rowlink="a" class="table table_vam mbox_table dTableR" id="dt_inbox">
												<thead>
													<tr>
														<th class="table_checkbox"><input type="checkbox" data-tableid="dt_inbox" class="select_msgs" name="select_msgs"></th>
														<th><i class="splashy-star_empty"></i></th>
														<th><i class="splashy-mail_light"></i></th>
														<th>Subject</th>
														<th>Sender</th>
														<th>Date</th>
														<th>Size</th>
														<th><i class="icon-adt_atach"></i></th>
													</tr>
												</thead>
												<tbody>
													<tr class="unread">
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet c…</a></td>
														<td><span>email_7@example.com</span></td>
														<td>28/06/2012</td>
														<td>14 KB</td>
														<td></td>
													</tr>
													<tr class="unread">
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet con…</a></td>
														<td><span>email_27@example.com</span></td>
														<td>28/06/2012</td>
														<td>24 KB</td>
														<td></td>
													</tr>
													<tr class="unread">
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit ame…</a></td>
														<td><span>email_11@example.com</span></td>
														<td>29/06/2012</td>
														<td>47 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet cons…</a></td>
														<td><span>email_17@example.com</span></td>
														<td>21/03/2012</td>
														<td>501 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet …</a></td>
														<td><span>email_23@example.com</span></td>
														<td>24/06/2012</td>
														<td>213 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_full mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet cons…</a></td>
														<td><span>email_30@example.com</span></td>
														<td>26/03/2012</td>
														<td>500 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consect…</a></td>
														<td><span>email_9@example.com</span></td>
														<td>18/05/2012</td>
														<td>995 KB</td>
														<td><i class="icon-adt_atach"></i></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consect…</a></td>
														<td><span>email_10@example.com</span></td>
														<td>22/04/2012</td>
														<td>411 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_full mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet con…</a></td>
														<td><span>email_24@example.com</span></td>
														<td>8/06/2012</td>
														<td>1152 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet …</a></td>
														<td><span>email_14@example.com</span></td>
														<td>8/03/2012</td>
														<td>1024 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet cons…</a></td>
														<td><span>email_7@example.com</span></td>
														<td>11/04/2012</td>
														<td>184 KB</td>
														<td><i class="icon-adt_atach"></i></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet con…</a></td>
														<td><span>email_2@example.com</span></td>
														<td>1/04/2012</td>
														<td>273 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet c…</a></td>
														<td><span>email_11@example.com</span></td>
														<td>11/06/2012</td>
														<td>130 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit ame…</a></td>
														<td><span>email_26@example.com</span></td>
														<td>9/06/2012</td>
														<td>398 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet cons…</a></td>
														<td><span>email_12@example.com</span></td>
														<td>26/06/2012</td>
														<td>428 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet conse…</a></td>
														<td><span>email_2@example.com</span></td>
														<td>18/03/2012</td>
														<td>184 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet c…</a></td>
														<td><span>email_17@example.com</span></td>
														<td>8/06/2012</td>
														<td>159 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet c…</a></td>
														<td><span>email_8@example.com</span></td>
														<td>3/04/2012</td>
														<td>1114 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet …</a></td>
														<td><span>email_20@example.com</span></td>
														<td>2/05/2012</td>
														<td>1001 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit ame…</a></td>
														<td><span>email_18@example.com</span></td>
														<td>13/04/2012</td>
														<td>752 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet conse…</a></td>
														<td><span>email_29@example.com</span></td>
														<td>22/05/2012</td>
														<td>1190 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit ame…</a></td>
														<td><span>email_12@example.com</span></td>
														<td>22/05/2012</td>
														<td>648 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consect…</a></td>
														<td><span>email_3@example.com</span></td>
														<td>25/03/2012</td>
														<td>1281 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consecte…</a></td>
														<td><span>email_14@example.com</span></td>
														<td>3/03/2012</td>
														<td>1247 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consec…</a></td>
														<td><span>email_8@example.com</span></td>
														<td>13/06/2012</td>
														<td>1239 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet…</a></td>
														<td><span>email_29@example.com</span></td>
														<td>11/05/2012</td>
														<td>589 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consect…</a></td>
														<td><span>email_9@example.com</span></td>
														<td>8/05/2012</td>
														<td>1441 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit ame…</a></td>
														<td><span>email_23@example.com</span></td>
														<td>9/06/2012</td>
														<td>796 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet conse…</a></td>
														<td><span>email_23@example.com</span></td>
														<td>15/05/2012</td>
														<td>1329 KB</td>
														<td></td>
													</tr>
												</tbody>
											</table>	
										</div>
								
										<div class="tab-pane" id="mbox_outbox">
											<table data-msg_rowlink="a" class="table table_vam mbox_table dTableR" id="dt_outbox">
												<thead>
													<tr>
														<th class="table_checkbox"><input type="checkbox" data-tableid="dt_outbox" class="select_msgs" name="select_msgs"></th>
														<th><i class="splashy-star_empty"></i></th>
														<th><i class="splashy-mail_light"></i></th>
														<th>Subject</th>
														<th>Sender</th>
														<th>Date</th>
														<th>Size</th>
														<th><i class="icon-adt_atach"></i></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet co…</a></td>
														<td><span>email_19@example.com</span></td>
														<td>9/04/2012</td>
														<td>1058 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_full mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet…</a></td>
														<td><span>email_10@example.com</span></td>
														<td>24/05/2012</td>
														<td>349 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet conse…</a></td>
														<td><span>email_23@example.com</span></td>
														<td>3/03/2012</td>
														<td>606 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet co…</a></td>
														<td><span>email_30@example.com</span></td>
														<td>17/05/2012</td>
														<td>1071 KB</td>
														<td><i class="icon-adt_atach"></i></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_full mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet cons…</a></td>
														<td><span>email_24@example.com</span></td>
														<td>12/06/2012</td>
														<td>1055 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consecte…</a></td>
														<td><span>email_20@example.com</span></td>
														<td>11/05/2012</td>
														<td>567 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet c…</a></td>
														<td><span>email_28@example.com</span></td>
														<td>25/05/2012</td>
														<td>688 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet cons…</a></td>
														<td><span>email_24@example.com</span></td>
														<td>19/05/2012</td>
														<td>689 KB</td>
														<td><i class="icon-adt_atach"></i></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consect…</a></td>
														<td><span>email_9@example.com</span></td>
														<td>5/06/2012</td>
														<td>685 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet con…</a></td>
														<td><span>email_13@example.com</span></td>
														<td>11/03/2012</td>
														<td>334 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet…</a></td>
														<td><span>email_23@example.com</span></td>
														<td>25/05/2012</td>
														<td>1094 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet cons…</a></td>
														<td><span>email_14@example.com</span></td>
														<td>10/03/2012</td>
														<td>1442 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_right"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet conse…</a></td>
														<td><span>email_11@example.com</span></td>
														<td>23/05/2012</td>
														<td>1457 KB</td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div id="msg_view" class="tab-pane">
											<div class="doc_view">
												<div class="doc_view_header">
													<dl class="dl-horizontal">
														<dt>Subject</dt>
															<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
														<dt>Sender</dt>
															<dd><span>email1@example.com</span></dd>
														<dt>Recipient</dt>
															<dd><span>johnsmith@example.com</span></dd>
														<dt>Date</dt>
															<dd>20 June 2012 12:32:25</dd>
														<dt><i class="icon-adt_atach"></i></dt>
															<dd><a href="javascript:void(0)">image01.jpg</a>, <a href="javascript:void(0)">image02.jpg</a>, <a href="javascript:void(0)">document.pdf</a></dd>
													</dl>
												</div>
												<div class="doc_view_content">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis consectetur feugiat. Cras lacinia ullamcorper mauris, a tincidunt lacus malesuada non. Mauris ut mi ut augue vehicula suscipit. Suspendisse lobortis tempor urna, ut feugiat mauris pretium sed. Aliquam eget dolor eget dolor euismod feugiat eu et augue. Sed metus metus, condimentum quis vulputate et, pretium eu tortor. Maecenas felis felis, dignissim at pretium sit amet, condimentum a libero. Nam laoreet semper tortor sed fermentum. Duis eleifend tortor sed justo venenatis aliquam.
													Curabitur augue elit, mattis eu ornare eget, varius sed metus. Cras fringilla fermentum malesuada. Nulla consectetur sollicitudin nibh, iaculis sagittis diam placerat ac. Aenean molestie vestibulum mattis. Suspendisse elementum, tellus quis mattis adipiscing, dui mauris pulvinar mauris, et rhoncus nisi turpis sit amet turpis. Duis nunc nisl, ullamcorper quis ultricies quis, suscipit non dui. Etiam id urna massa, at pharetra velit. Ut tortor mi, vestibulum id imperdiet a, consectetur vel lorem.
													Maecenas eget velit pharetra tellus placerat condimentum at vel sapien. Suspendisse ac urna turpis, eget lobortis purus. Ut id arcu et nulla accumsan semper. In lacinia vestibulum nulla ac pellentesque. Nullam mattis ante ornare est tincidunt placerat. Donec non feugiat felis. Sed felis lacus, molestie in luctus vel, tempor a dui. Aliquam erat volutpat. Morbi laoreet gravida sagittis. Nulla tempor ipsum vitae tortor suscipit facilisis et at ligula. Ut lobortis, mauris vel faucibus condimentum, metus nulla varius odio, sed accumsan lorem elit sed mi. Nunc venenatis orci vel erat tincidunt quis tincidunt erat tempus. Cras vel sapien sed enim viverra egestas nec id orci. Nulla nec ornare ante. Donec tristique iaculis nunc in fringilla.
												</div>
												<div class="doc_view_footer clearfix">
													<div class="btn-group pull-left">
														<a class="btn" href="javascript:void(0)"><i class="icon-pencil"></i> Answer</a>
														<a class="btn" href="javascript:void(0)"><i class="icon-share-alt"></i> Forward</a>
														<a class="btn" href="#"><i class="icon-trash"></i> Delete</a>
													</div>
													<div class="pull-right">
														Size: 240 KB
													</div>
												</div>
											</div>
											<ul class="pager">
												<li class="previous">
													<a href="#"><i class="icon-chevron-left"></i> Previous</a>
												</li>
												<li class="next">
													<a href="#">Next <i class="icon-chevron-right"></i></a>
												</li>
											</ul>
										</div>
										<div class="tab-pane" id="mbox_trash">
											<table data-msg_rowlink="a" class="table table_vam mbox_table dTableR" id="dt_trash">
												<thead>
													<tr>
														<th class="table_checkbox"><input type="checkbox" data-tableid="dt_trash" class="select_msgs" name="select_msgs"></th>
														<th><i class="splashy-star_empty"></i></th>
														<th><i class="splashy-mail_light"></i></th>
														<th>Subject</th>
														<th>Sender</th>
														<th>Date</th>
														<th>Size</th>
														<th><i class="icon-adt_atach"></i></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet c…</a></td>
														<td><span>email_9@example.com</span></td>
														<td>20/06/2012</td>
														<td>1274 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_full mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet…</a></td>
														<td><span>email_27@example.com</span></td>
														<td>3/04/2012</td>
														<td>1300 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet con…</a></td>
														<td><span>email_26@example.com</span></td>
														<td>8/06/2012</td>
														<td>1495 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet co…</a></td>
														<td><span>email_1@example.com</span></td>
														<td>20/04/2012</td>
														<td>879 KB</td>
														<td><i class="icon-adt_atach"></i></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_full mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet con…</a></td>
														<td><span>email_1@example.com</span></td>
														<td>1/06/2012</td>
														<td>210 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consecte…</a></td>
														<td><span>email_16@example.com</span></td>
														<td>11/06/2012</td>
														<td>362 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet co…</a></td>
														<td><span>email_4@example.com</span></td>
														<td>12/03/2012</td>
														<td>281 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet c…</a></td>
														<td><span>email_9@example.com</span></td>
														<td>26/04/2012</td>
														<td>962 KB</td>
														<td><i class="icon-adt_atach"></i></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet consect…</a></td>
														<td><span>email_28@example.com</span></td>
														<td>12/03/2012</td>
														<td>1305 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet co…</a></td>
														<td><span>email_17@example.com</span></td>
														<td>23/03/2012</td>
														<td>1419 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet co…</a></td>
														<td><span>email_21@example.com</span></td>
														<td>25/04/2012</td>
														<td>814 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit ame…</a></td>
														<td><span>email_13@example.com</span></td>
														<td>1/04/2012</td>
														<td>451 KB</td>
														<td></td>
													</tr>
													<tr>
														<td class="nohref"><input type="checkbox" class="select_msg" name="msg_sel"></td>
														<td class="nohref starSelect"><i class="splashy-star_empty mbox_star"></i></td>
														<td><i class="splashy-mail_light_stuffed"></i></td>
														<td><a href="#msg_view">Lorem ipsum dolor sit amet …</a></td>
														<td><span>email_25@example.com</span></td>
														<td>10/05/2012</td>
														<td>1401 KB</td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- hide elements -->
					<div class="hide">
						<!-- actions for inbox -->
						<div class="dt_inbox_actions">
							<div class="btn-group">
								<a href="javascript:void(0)" class="btn" title="Answer"><i class="icon-pencil"></i></a>
								<a href="javascript:void(0)" class="btn" title="Forward"><i class="icon-share-alt"></i></a>
								<a href="#" class="delete_msg btn" title="Delete" data-tableid="dt_inbox"><i class="icon-trash"></i></a>
							</div>
						</div>
						<!-- actions for outbox -->
						<div class="dt_outbox_actions">
							<div class="btn-group">
								<a href="javascript:void(0)" class="btn" title="Resend"><i class="icon-share-alt"></i></a>
								<a href="#" class="delete_msg btn" title="Delete" data-tableid="dt_outbox"><i class="icon-trash"></i></a>
							</div>
						</div>
						<!-- actions for trash -->
						<div class="dt_trash_actions">
							<div class="btn-group">
								<a href="#" class="delete_msg btn" title="Delete permamently" data-tableid="dt_trash"><i class="icon-trash"></i></a>
							</div>
						</div>
						<!-- confirmation box -->
						<div id="confirm_dialog" class="cbox_content">
							<div class="sepH_c tac"><strong>Are you sure you want to delete this message(s)?</strong></div>
							<div class="tac">
								<a href="#" class="btn btn-gebo confirm_yes">Yes</a>
								<a href="#" class="btn confirm_no">No</a>
							</div>
						</div>
					</div>