<div class="row-fluid">
   <?php
        //pr($listViewDatas);
        $i =0;
        foreach($subscribe as $sub ){ 
            //pr($sub);
           $j = $i%2;
   ?>
        <div class="span6">
            <table class="table table-bordered table-striped table_vam" id="dt_gal">
                <thead>
                        <tr>
                            <th colspan="2">
                                
                                    <div>

                                            <div class="btn-group pull-right">
                                                    
                                                    <a href="<?=$this->Portal->makeUrl("tests", "articleform","cat_name=".$sub['MessageBaseCategory']['cat_name'])?>" class="btn" title="Add New"><i class="icon-pencil"></i></a>
                                                    <a href="#" class="delete_msg btn" title="View All" data-tableid="dt_inbox"><i class="icon-eye-open"></i></a>
                                            </div>
                                       <?=$sub['MessageBaseCategory']['cat_name']?>
                                       
                                    </div>

                            </td>

                        </tr>
                </thead>
                <tbody>
                    <?php foreach($listViewDatas as $data) : ?>
                            
                          <?php if($data['MessageBaseMessage']['category_id'] == $sub['MessageBaseCategory']['id']){ ?>
                          <tr>
                                <td><?=$this->Time->format('d M y', $data['MessageBaseMessage']['event_date']);?></td>
                                <td><?=$data['MessageBaseMessage']['subject']?></td>
                          </tr>
                          <?php } ?>
                    <?php endforeach;?>
                </tbody>
            </table>
        </div>   
   <?php 
          if($j == 1){
                echo "</div>";
                echo '<div class="row-fluid">';
          }
          $i++;  
        }
   ?>
