<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

//if(!empty($resource)){ pr($resource); }
//if(!empty($attach)){ pr($attach); }
//if(!empty($message)){ pr($message); }
?>


<div id="testt">aaaa</div>

<script type="text/javascript">
    $('#testt').click(function(){
        $.post('/Messages/contactList/', function(data){
            $('#testt').html(data);
        });
    })
    
</script>