
<div class="row-fluid">
	<div class="span12">
		 <label><?php echo __('Owner');?><br /></label>
		 <div id="master">
			<?php foreach($showuser as $show) { ?>
				<?php if($show['MessageGroupUser']['is_admin'] == 'Y'){ ?>
					<div><?php echo $show['MessageGroupUser']['show_user']." [ ".$show['MessageGroupUser']['organization_description']['description']." - ".$show['MessageGroupUser']['organization_belong']." ]"; ?></div>
					
				<?php } ?>
			<?php } ?>
		 </div>
		 <br />
		 <label><?php echo __('User List');?><br /></label>
		 <div id="showuser">
			<ul style="list-style:none; margin:5px 5px;">
			<?php foreach($showuser as $show) { ?>
				<?php if($show['MessageGroupUser']['is_admin'] == 'N'){ ?>
				<li>
					<span><?php echo $show['MessageGroupUser']['show_user']." [ ".$show['MessageGroupUser']['organization_description']['description']." - ".$show['MessageGroupUser']['organization_belong']." ]"; ?></span>
					
				</li>
				<?php } ?>
			<?php } ?>
			</ul>
		 </div>
	</div>
</div>
<script>
function modalAction(){
}
</script>
<style>
.modal {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 8px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -295px 0 0 -390px;
    overflow: auto;
    position: fixed;
    top: 50%;
    width: 850px;
    z-index: 1050;
}

.modal-body {
    min-height: 450px;
    max-height: 450px;
    overflow-y: auto;
}
#showuser{
	border:1px solid #ccc;
	height: 300px;
	/*overflow-y:scroll;*/
	overflow-x: hidden;
}
 </style>