<?php echo $this->element('Components/breadcrumb'); ?>
<?php echo $this->element('Components/calendar'); ?>

<script src="lib/colorbox/jquery.colorbox.min.js"></script>
<script src="lib/fullcalendar/fullcalendar.js"></script>
<!-- datepicker -->
<script src="lib/datepicker/bootstrap-datepicker.min.js"></script>