	<script src="js/jquery.min.js"></script>
	<!-- smart resize event -->
	<script src="js/jquery.debouncedresize.min.js"></script>
	<!-- hidden elements width/height -->
	<script src="js/jquery.actual.min.js"></script>
	<!-- js cookie plugin -->
	<script src="js/jquery.cookie.min.js"></script>
	<!-- main bootstrap js -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<!-- bootstrap plugins -->
	<script src="js/bootstrap.plugins.min.js"></script>






	<!-- tooltips -->
	<script src="lib/qtip2/jquery.qtip.min.js"></script>
	<!-- jBreadcrumbs -->
	<script src="lib/jBreadcrumbs/js/jquery.jBreadCrumb.1.1.min.js"></script>
	<!-- sticky messages -->
            <script src="lib/sticky/sticky.min.js"></script>


	<!-- fix for ios orientation change -->
	<script src="js/ios-orientationchange-fix.js"></script>
	<!-- scrollbar -->
	<script src="lib/antiscroll/antiscroll.js"></script>
	<script src="lib/antiscroll/jquery-mousewheel.js"></script>
	<!-- lightbox -->
	<script src="lib/colorbox/jquery.colorbox.min.js"></script>
	<!-- common functions -->
	<script src="js/gebo_common.js"></script>








	<!-- to top -->
	<script src="lib/UItoTop/jquery.ui.totop.min.js"></script>


	<script src="lib/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
	<!-- touch events for jquery ui-->
	<script src="js/forms/jquery.ui.touch-punch.min.js"></script>
	<!-- multi-column layout -->
	<script src="js/jquery.imagesloaded.min.js"></script>
	<script src="js/jquery.wookmark.js"></script>
	<!-- responsive table -->
	<script src="js/jquery.mediaTable.min.js"></script>
	<!-- small charts -->
	<script src="js/jquery.peity.min.js"></script>
	<!-- charts -->
	<script src="lib/flot/jquery.flot.min.js"></script>
	<script src="lib/flot/jquery.flot.resize.min.js"></script>
	<script src="lib/flot/jquery.flot.pie.min.js"></script>
	<!-- calendar -->
	<script src="lib/fullcalendar/fullcalendar.min.js"></script>
	<!-- sortable/filterable list -->
	<script src="lib/list_js/list.min.js"></script>
	<script src="lib/list_js/plugins/paging/list.paging.js"></script>
	<script src="lib/jstree/jquery.jstree.js"></script>


	<!-- dashboard functions -->
	<script src="js/gebo_dashboard.js"></script>

	<script>
		$(document).ready(function() {
			//* show all elements & remove preloader
			setTimeout('$("html").removeClass("js")',1000);
		});
	</script>